@charset "utf-8";

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 1.5em;
    text-shadow: 0.5px 0.5px 0.5px black;
    text-align: center;
}

p{
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

input{
    display:block;
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 1px 3px black;

}

input:active{
    background-color: lightsteelblue;
}