@charset "UTF-8";

body{
    background-color: rgb(72, 151, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color:white
}

section{
    margin: auto;
    width: 500px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.705);
    background-color: white;
    border-radius: 10px;
}
section p{
    position: relative;
    top: 18%;
    left: 3%;
}

input[type=number]{
    
    margin-left: 20px;

}
input[type=button]{
    margin-top: 10px;
    height: 40px;
    width: 80px;
}

footer {
    text-align: center;
   font-size: 1.2em;
   color: white;
}