@charset "UTF-8";

body{
    font: normal 1.1em arial ;
    background-color: #76a5c0;
 
}

h1{
    font-family: cursive;
    color: #ffffff;
    text-align: center;
}

input{
    display: block;
    height: 115px;
    width: 170px;
    margin: auto;
}

p{
    text-align: center;
    font-size: 1.3em;
}