@charset "UTF-8";

*{
    border:none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.info{
    display: flex;
    justify-content: space-around;
}

.quadrado{
    display: flex;
    height: 100px;
    width: 100px;
}

#q1{
    background-color: #f00;
}

#q2{
    background-color: #00f;
}