@charset "utf-8";

body{
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    font-family: cursive;
}

input{
    display: block;
    margin: auto;
    height: 90px;
    width: 180px;
}
