@charset "utf-8";

body{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}
p{
    font-size:1.2em;
    text-align: center;
}

main input{
    display: block;
    width: 300px;
    height: 150px;
    margin: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.732);
}

main input:active{
    background-color: lightgray;
}

