@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

#dados{
    display: flex;
    flex-direction: column;
}
input, #Butao{
    width: 250px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: lightgrey;
    margin: 5px;
}

input[type='radio']{
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: white;
}

#Butao{
    border: 1px solid black;
    background-color: grey;
    margin: 10px;
    cursor: pointer;
}

#resultados{
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}
.selecionado{
    border: solid 2px grey;
    display: flex;
    margin: 3px;
    width: 200px;
    border-radius: 5px;}