@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 94vh;
    width: 96vw;
    font: normal 1em arial;
    background-color: rgb(109, 157, 221);
}
h1{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 38px;
}

div{
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    background-color: white;
    width: 500px;
    height: 450px;
    color: black;
    left: 50%;
    top: 40%;
}

input#nasc{
    width: 120px;
    margin: 30px 0px 0px 10px;
}